*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(180deg,#4b0000,#8B0000,#d97706);
overflow-x:hidden;
color:white;
text-align:center;
}

.container{
width:95%;
max-width:450px;
margin:20px auto;
padding:20px;
background:rgba(255,255,255,.10);
backdrop-filter:blur(15px);
border-radius:25px;
box-shadow:0 0 25px rgba(255,215,0,.5);
}

.title{
font-size:34px;
color:#FFD700;
text-shadow:0 0 20px gold;
margin-bottom:20px;
}

.family{
font-size:38px;
color:#FFD700;
text-shadow:0 0 25px gold;
margin:15px 0;
animation:glow 2s infinite;
}

@keyframes glow{
50%{
transform:scale(1.05);
text-shadow:0 0 35px gold;
}
}

.ganpati{
width:240px;
border-radius:50%;
border:6px solid gold;
box-shadow:0 0 30px gold;
animation:float 4s infinite;
}

@keyframes float{
50%{
transform:translateY(-12px);
}
}

.card{
margin-top:20px;
padding:20px;
background:rgba(255,255,255,.08);
border-radius:20px;
}

.btn{
display:block;
margin:15px auto;
padding:14px;
width:260px;
background:linear-gradient(90deg,#FFD700,#FFA500);
color:#6b0000;
font-weight:bold;
text-decoration:none;
border-radius:50px;
font-size:18px;
transition:.3s;
border:none;
cursor:pointer;
}

.btn:hover{
transform:scale(1.05);
}

#countdown{
font-size:26px;
font-weight:bold;
color:#FFD700;
margin:20px;
}

.footer{
margin-top:25px;
font-size:18px;
color:#fff;
}

.flower{
position:fixed;
top:-30px;
font-size:24px;
pointer-events:none;
animation:fall linear forwards;
}

@keyframes fall{
to{
transform:translateY(110vh) rotate(360deg);
}
}
.overlay{
position:fixed;
width:100%;
height:100%;
background:radial-gradient(circle,transparent 30%,rgba(0,0,0,.35));
pointer-events:none;
}

.light{
position:fixed;
width:200px;
height:200px;
background:gold;
filter:blur(120px);
opacity:.30;
animation:pulse 4s infinite;
}

.light1{
top:0;
left:0;
}

.light2{
right:0;
top:25%;
}

.light3{
bottom:0;
left:30%;
}

@keyframes pulse{
50%{
opacity:.6;
transform:scale(1.2);
}
}

.diya{
position:fixed;
bottom:20px;
font-size:45px;
animation:floatDiya 2s infinite;
}

.diya-left{
left:20px;
}

.diya-right{
right:20px;
}

@keyframes floatDiya{
50%{
transform:translateY(-8px);
}
}
